<section id="speaking">
	<div class="container">
		<h3>{{ .Site.Data.speaking.name }}</h3>
		<p class="lead">Opportunities I've had to share knowledge by speaking and 
		teaching about DFIR.</p>
		<table class="table table-hover text-left">
			<thead>
			<tr>
				<th>Title</th>
				<th>Event/Provider/Institution</th>
				<th>Location</th>
				<th>Month/Semester/Year</th>
			</tr>
			</thead>
			<tbody>
		{{ range $_, $el := .Site.Data.speaking.source }}
			<tr>
				<td>{{ $el.title }}</td>
				<td>{{ $el.provider }}</td>
				<td>{{ $el.location }}</td>
				<td>{{ $el.when }}</td>
			</tr>
		{{ end }}
			</tbody>
		</table>
	</div>
</section>
